[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/EzioPeter/livox_ros_driver2.git
[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = https://github.com/EzioPeter/FAST_LIO.git
[submodule "src/ego-planner"]
	path = src/ego-planner
	url = https://github.com/EzioPeter/ego-planner.git
	branch = lite3_deploy
